<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
using System;
using System.Linq;
using System.Numerics.Tensors;
using Torch.SNT;
using Xunit;

namespace Torch.SNT
{
<#
foreach (var type in new [] {
    new { ApiName = "Short", Storage = "short", AccReal="long" },
    new { ApiName = "Int", Storage = "int",  AccReal="long"},
    new { ApiName = "Long", Storage = "long", AccReal="long" },
    new { ApiName = "Double", Storage = "double", AccReal="double" },
    new { ApiName = "Float", Storage = "float", AccReal="double" },
     }) {
        string tname = type.ApiName;
#>
    public class <#=tname#>TorchTensorUnitTestGenerator
    {
        [Fact]
        public void TestCreation<#=tname#>0D()
        {
            Assert.Throws<ArgumentOutOfRangeException>(() => <#=tname#>TorchTensor.Create());
        }

        [Fact]
        public void TestCreation<#=tname#>1D()
        {
            Tensor<<#=tname.ToLower()#>> x = <#=tname#>TorchTensor.Create(10);

            Assert.NotNull(x);
        }

        [Fact]
        public void TestCreation<#=tname#>2D()
        {
            Tensor<<#=tname.ToLower()#>> x = <#=tname#>TorchTensor.Create(10, 10);

            Assert.NotNull(x);
        }

        [Fact]
        public void TestShapeAndStrides<#=tname#>2D()
        {
            var x = <#=tname#>TorchTensor.Create(10, 10);

            for (int i = 0; i < 2; i++)
            {
                Assert.Equal(x.Dimensions[0], (int)x.AtenSharpTensor.GetTensorDimension(0));
                Assert.Equal(x.Strides[0], (int)x.AtenSharpTensor.GetTensorStride(0));
            }
        }

        [Fact]
        public void TestCreation<#=tname#>3D()
        {
            Tensor<<#=tname.ToLower()#>> x = <#=tname#>TorchTensor.Create(10, 10, 3);

            Assert.NotNull(x);
        }

        [Fact]
        public void TestShapeAndStrides<#=tname#>3D()
        {
            var x = <#=tname#>TorchTensor.Create(10, 10, 3);

            for (int i = 0; i < 3; i++)
            {
                Assert.Equal(x.Dimensions[0], (int)x.AtenSharpTensor.GetTensorDimension(0));
                Assert.Equal(x.Strides[0], (int)x.AtenSharpTensor.GetTensorStride(0));
            }
        }

        [Fact]
        public void TestCreation<#=tname#>4D()
        {
            Tensor<<#=tname.ToLower()#>> x = <#=tname#>TorchTensor.Create(10, 10, 3, 10);

            Assert.NotNull(x);
        }

        [Fact]
        public void TestShapeAndStrides<#=tname#>4D()
        {
            var x = <#=tname#>TorchTensor.Create(10, 10, 3, 10);

            for (int i = 0; i < 4; i++)
            {
                Assert.Equal(x.Dimensions[0], (int)x.AtenSharpTensor.GetTensorDimension(0));
                Assert.Equal(x.Strides[0], (int)x.AtenSharpTensor.GetTensorStride(0));
            }
        }

        [Fact]
        public void TestFill<#=tname#>1D()
        {
            Tensor<<#=tname.ToLower()#>> x = <#=tname#>TorchTensor.Create(10);
            x.Fill((<#=tname.ToLower()#>)30);

            for (int i = 0; i < x.Dimensions[0]; i++)
            {
                Assert.Equal(x[i], 30);
            }
        }

        [Fact]
        public void TestFill<#=tname#>2D()
        {
            Tensor<<#=tname.ToLower()#>> x = <#=tname#>TorchTensor.Create(10, 10);
            x.Fill((<#=tname.ToLower()#>)30);

            for (int i = 0; i < x.Dimensions[0]; i++)
            {
                for (int j = 0; j < x.Dimensions[1]; j++)
                {
                    Assert.Equal(x[i, j], 30);
                }
            }
        }

        [Fact]
        public void TestFillBySet<#=tname#>1D()
        {
            Tensor<<#=tname.ToLower()#>> x = <#=tname#>TorchTensor.Create(10);

            for (int i = 0; i < x.Dimensions[0]; i++)
            {
                x[i] = (<#=tname.ToLower()#>)30;
            }

            for (int i = 0; i < x.Dimensions[0]; i++)
            {
                Assert.Equal(x[i], (<#=tname.ToLower()#>)30);
            }
        }

        [Fact]
        public void TestFillBySet<#=tname#>2D()
        {
            Tensor<<#=tname.ToLower()#>> x = <#=tname#>TorchTensor.Create(10, 10);

            for (int i = 0; i < x.Dimensions[0]; i++)
            {
                for (int j = 0; j < x.Dimensions[1]; j++)
                {
                    x[i, j] = (<#=tname.ToLower()#>)30;
                }
            }

            for (int i = 0; i < x.Dimensions[0]; i++)
            {
                for (int j = 0; j < x.Dimensions[1]; j++)
                {
                    Assert.Equal(x[i, j], (<#=tname.ToLower()#>)30);
                }
            }
        }

        [Fact]
        public void TestFillEquivalance<#=tname#>2D()
        {
            var x = <#=tname#>TorchTensor.Create(10, 10);

            for (int i = 0; i < x.Dimensions[0]; i++)
            {
                for (int j = 0; j < x.Dimensions[1]; j++)
                {
                    <#=tname.ToLower()#> tmp = (<#=tname.ToLower()#>)(i + j);
                    x[i, j] = tmp;
                }
            }

            for (int i = 0; i < x.Dimensions[0]; i++)
            {
                for (int j = 0; j < x.Dimensions[1]; j++)
                {
                    Assert.Equal(x[i, j], x.AtenSharpTensor[i, j]);
                }
            }
        }

        [Fact]
        public void TestClone<#=tname#>1D()
        {
            Tensor<<#=tname.ToLower()#>> x = <#=tname#>TorchTensor.Create(10);
            x.Fill((<#=tname.ToLower()#>)1);

            Tensor<<#=tname.ToLower()#>> y = x.Clone();

            for (int i = 0; i < x.Dimensions[0]; i++)
            {
                Assert.Equal(x[i], y[i]);
            }

            y[5] = (<#=tname.ToLower()#>)0;

            Assert.NotEqual(x[5], y[5]);
        }

        [Fact]
        public void TestClone<#=tname#>2D()
        {
            Tensor<<#=tname.ToLower()#>> x = <#=tname#>TorchTensor.Create(10, 10);
            x.Fill((<#=tname.ToLower()#>)1);

            Tensor<<#=tname.ToLower()#>> y = x.Clone();

            for (int i = 0; i < x.Dimensions[0]; i++)
            {
                for (int j = 0; j < x.Dimensions[1]; j++)
                {
                    Assert.Equal(x[i, j], y[i, j]);
                }
            }

            y[5, 5] = (<#=tname.ToLower()#>)0;

            Assert.NotEqual(x[5, 5], y[5, 5]);
        }

        [Fact]
        public void TestCloneEmpty<#=tname#>1D()
        {
            Tensor<<#=tname.ToLower()#>> x = <#=tname#>TorchTensor.Create(10);
            x.Fill((<#=tname.ToLower()#>)1);

            Tensor<<#=tname.ToLower()#>> y = x.CloneEmpty();

            Assert.Equal(y.Dimensions.ToArray(), x.Dimensions.ToArray());

            for (int i = 0; i < x.Dimensions[0]; i++)
            {
                Assert.Equal((<#=tname.ToLower()#>)0, y[i]);
            }
        }

        [Fact]
        public void TestCloneEmpty<#=tname#>2D()
        {
            Tensor<<#=tname.ToLower()#>> x = <#=tname#>TorchTensor.Create(10, 10);
            x.Fill((<#=tname.ToLower()#>)1);

            Tensor<<#=tname.ToLower()#>> y = x.CloneEmpty();

            Assert.Equal(y.Dimensions.ToArray(), x.Dimensions.ToArray());

            for (int i = 0; i < x.Dimensions[0]; i++)
            {
                for (int j = 0; j < x.Dimensions[0]; j++)
                {
                    Assert.Equal(y[i, j], (<#=tname.ToLower()#>)0);
                }
            }
        }

        [Fact]
        public void TestReshape<#=tname#>1DFail()
        {
            Tensor<<#=tname.ToLower()#>> x = <#=tname#>TorchTensor.Create(10);
            x.Fill((<#=tname.ToLower()#>)1);

            Assert.Throws<ArgumentException>(() => x.Reshape(new int[] { 9 }));
        }

        [Fact]
        public void TestReshape<#=tname#>1D()
        {
            Tensor<<#=tname.ToLower()#>> x = <#=tname#>TorchTensor.Create(10);

            for (int i = 0; i < x.Dimensions[0]; i++)
            {
                x[i] = (<#=tname.ToLower()#>)i;
            }

            Tensor<<#=tname.ToLower()#>> y = x.Reshape(new int[] { 10 });

            for (int i = 0; i < x.Dimensions[0]; i++)
            {
                Assert.Equal(y[i], (<#=tname.ToLower()#>)i);
                Assert.Equal(x[i], (<#=tname.ToLower()#>)i);
            }
        }

        [Fact]
        public void TestReshape<#=tname#>1DPointToTheSameStorage()
        {
            Tensor<<#=tname.ToLower()#>> x = <#=tname#>TorchTensor.Create(10);

            for (int i = 0; i < x.Dimensions[0]; i++)
            {
                x[i] = (<#=tname.ToLower()#>)i;
            }

            Tensor<<#=tname.ToLower()#>> y = x.Reshape(new int[] { 10 });

            y[5] = (<#=tname.ToLower()#>)0;

            for (int i = 0; i < x.Dimensions[0]; i++)
            {
                Assert.Equal(y[i], x[i]);
            }
        }

        [Fact]
        public void TestReshape<#=tname#>2D()
        {
            var x = <#=tname#>TorchTensor.Create(5, 10);

            var y = x.Reshape(new int[] { 10, 5 });

            for (int i = 0; i < 2; i++)
            {
                Assert.Equal(x.Dimensions[0], (int)x.AtenSharpTensor.GetTensorDimension(0));
                Assert.Equal(x.Strides[0], (int)x.AtenSharpTensor.GetTensorStride(0));
            }

            Equals(x.Dimensions.ToArray(), new int[] { 5, 10 });
            Equals(x.Strides.ToArray(), new int[] { 1, 10 });
            Equals(y.Dimensions.ToArray(), new int[] { 10, 5 });
            Equals(y.Strides.ToArray(), new int[] { 1, 5 });
        }

        [Fact]
        public void TestReshape2<#=tname#>D2()
        {
            var x = <#=tname#>TorchTensor.Create(5, 10);

            for (int i = 0; i < x.Dimensions[0]; i++)
            {
                for (int j = 0; j < x.Dimensions[1]; j++)
                {
                    <#=tname.ToLower()#> tmp = (<#=tname.ToLower()#>)(i + j);
                    x[i, j] = tmp;
                }
            }

            Tensor<<#=tname.ToLower()#>> y = x.Reshape(new int[] { 10, 5 });

            for (int i = 0; i < 1; i++)
            {
                for (int j = 0; j < 10; j++)
                {
                    Assert.Equal(x[i, j], y[i * 2 + j / 5, j % 5]);
                }
            }
        }

        [Fact]
        public void TestReshape<#=tname#>2DPointToTheSameStorage()
        {
            var x = <#=tname#>TorchTensor.Create(5, 10);

            for (int i = 0; i < x.Dimensions[0]; i++)
            {
                for (int j = 0; j < x.Dimensions[1]; j++)
                {
                    <#=tname.ToLower()#> tmp = (<#=tname.ToLower()#>)(i + j);
                    x[i, j] = tmp;
                }
            }

            Tensor<<#=tname.ToLower()#>> y = x.Reshape(new int[] { 10, 5 });

            x[4, 9] = 0;
            y[3, 4] = 0;

            for (int i = 0; i < 1; i++)
            {
                for (int j = 0; j < 10; j++)
                {
                    Assert.Equal(x[i, j], y[i * 2 + j / 5, j % 5]);
                }
            }
        }

        [Fact]
        public void TestDanglingMemory<#=tname#>()
        {
            Memory<<#=tname.ToLower()#>> buffer;

            using (var x = <#=tname#>TorchTensor.Create(10))
            {
                x.Fill(33);
                buffer = x.Buffer;
            }

            var arr = buffer.ToArray();

            for (int i = 0; i < 10; i++)
            {
                Assert.Equal(33, arr[i]);
            }
        }
    }
<#
}
#>
}
