<Type Name="Module" FullName="TorchSharp.NN.Module">
  <TypeSignature Language="C#" Value="public abstract class Module : IDisposable" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi abstract beforefieldinit Module extends System.Object implements class System.IDisposable" />
  <AssemblyInfo>
    <AssemblyName>TorchSharp</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces>
    <Interface>
      <InterfaceName>System.IDisposable</InterfaceName>
    </Interface>
  </Interfaces>
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="protected Module (TorchSharp.NN.Parameter[] parameters);" />
      <MemberSignature Language="ILAsm" Value=".method familyhidebysig specialname rtspecialname instance void .ctor(valuetype TorchSharp.NN.Parameter[] parameters) cil managed" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters>
        <Parameter Name="parameters" Type="TorchSharp.NN.Parameter[]">
          <Attributes>
            <Attribute>
              <AttributeName>System.ParamArray</AttributeName>
            </Attribute>
          </Attributes>
        </Parameter>
      </Parameters>
      <Docs>
        <param name="parameters">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="AdaptiveAvgPool2D">
      <MemberSignature Language="C#" Value="public static TorchSharp.NN.AdaptiveAvgPool2D AdaptiveAvgPool2D (long[] outputSize);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig class TorchSharp.NN.AdaptiveAvgPool2D AdaptiveAvgPool2D(int64[] outputSize) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>TorchSharp.NN.AdaptiveAvgPool2D</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="outputSize" Type="System.Int64[]">
          <Attributes>
            <Attribute>
              <AttributeName>System.ParamArray</AttributeName>
            </Attribute>
          </Attributes>
        </Parameter>
      </Parameters>
      <Docs>
        <param name="outputSize">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="AdaptiveAvgPool2D">
      <MemberSignature Language="C#" Value="public static TorchSharp.Tensor.TorchTensor AdaptiveAvgPool2D (TorchSharp.Tensor.TorchTensor x, long[] outputSize);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig valuetype TorchSharp.Tensor.TorchTensor AdaptiveAvgPool2D(valuetype TorchSharp.Tensor.TorchTensor x, int64[] outputSize) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>TorchSharp.Tensor.TorchTensor</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="x" Type="TorchSharp.Tensor.TorchTensor" />
        <Parameter Name="outputSize" Type="System.Int64[]">
          <Attributes>
            <Attribute>
              <AttributeName>System.ParamArray</AttributeName>
            </Attribute>
          </Attributes>
        </Parameter>
      </Parameters>
      <Docs>
        <param name="x">To be added.</param>
        <param name="outputSize">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Conv2D">
      <MemberSignature Language="C#" Value="public static TorchSharp.NN.Conv2D Conv2D (long inputChannel, long outputChannel, long kernelSize, long stride = 1, long padding = 0);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig class TorchSharp.NN.Conv2D Conv2D(int64 inputChannel, int64 outputChannel, int64 kernelSize, int64 stride, int64 padding) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>TorchSharp.NN.Conv2D</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="inputChannel" Type="System.Int64" />
        <Parameter Name="outputChannel" Type="System.Int64" />
        <Parameter Name="kernelSize" Type="System.Int64" />
        <Parameter Name="stride" Type="System.Int64" />
        <Parameter Name="padding" Type="System.Int64" />
      </Parameters>
      <Docs>
        <param name="inputChannel">To be added.</param>
        <param name="outputChannel">To be added.</param>
        <param name="kernelSize">To be added.</param>
        <param name="stride">To be added.</param>
        <param name="padding">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Dispose">
      <MemberSignature Language="C#" Value="public void Dispose ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance void Dispose() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>
              Releases the storage.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Dispose">
      <MemberSignature Language="C#" Value="protected void Dispose (bool disposing);" />
      <MemberSignature Language="ILAsm" Value=".method familyhidebysig instance void Dispose(bool disposing) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="disposing" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <param name="disposing">To be added.</param>
        <summary>
              Implements the .NET Dispose pattern.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Dropout">
      <MemberSignature Language="C#" Value="public static TorchSharp.NN.Dropout Dropout (bool isTraining, double probability = 0.5);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig class TorchSharp.NN.Dropout Dropout(bool isTraining, float64 probability) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>TorchSharp.NN.Dropout</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="isTraining" Type="System.Boolean" />
        <Parameter Name="probability" Type="System.Double" />
      </Parameters>
      <Docs>
        <param name="isTraining">To be added.</param>
        <param name="probability">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Dropout">
      <MemberSignature Language="C#" Value="public static TorchSharp.Tensor.TorchTensor Dropout (TorchSharp.Tensor.TorchTensor x, bool isTraining, double probability = 0.5);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig valuetype TorchSharp.Tensor.TorchTensor Dropout(valuetype TorchSharp.Tensor.TorchTensor x, bool isTraining, float64 probability) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>TorchSharp.Tensor.TorchTensor</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="x" Type="TorchSharp.Tensor.TorchTensor" />
        <Parameter Name="isTraining" Type="System.Boolean" />
        <Parameter Name="probability" Type="System.Double" />
      </Parameters>
      <Docs>
        <param name="x">To be added.</param>
        <param name="isTraining">To be added.</param>
        <param name="probability">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Eval">
      <MemberSignature Language="C#" Value="public virtual void Eval ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance void Eval() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="FeatureDropout">
      <MemberSignature Language="C#" Value="public static TorchSharp.Tensor.TorchTensor FeatureDropout (TorchSharp.Tensor.TorchTensor x);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig valuetype TorchSharp.Tensor.TorchTensor FeatureDropout(valuetype TorchSharp.Tensor.TorchTensor x) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>TorchSharp.Tensor.TorchTensor</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="x" Type="TorchSharp.Tensor.TorchTensor" />
      </Parameters>
      <Docs>
        <param name="x">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Finalize">
      <MemberSignature Language="C#" Value="~Module ();" />
      <MemberSignature Language="ILAsm" Value=".method familyhidebysig virtual instance void Finalize() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Forward">
      <MemberSignature Language="C#" Value="public abstract TorchSharp.Tensor.TorchTensor Forward (TorchSharp.Tensor.TorchTensor input);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance valuetype TorchSharp.Tensor.TorchTensor Forward(valuetype TorchSharp.Tensor.TorchTensor input) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>TorchSharp.Tensor.TorchTensor</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="input" Type="TorchSharp.Tensor.TorchTensor" />
      </Parameters>
      <Docs>
        <param name="input">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetModules">
      <MemberSignature Language="C#" Value="public virtual System.Collections.Generic.IEnumerable&lt;string&gt; GetModules ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.Collections.Generic.IEnumerable`1&lt;string&gt; GetModules() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Collections.Generic.IEnumerable&lt;System.String&gt;</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetName">
      <MemberSignature Language="C#" Value="public virtual string GetName ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance string GetName() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GetParameter">
      <MemberSignature Language="C#" Value="public TorchSharp.Tensor.TorchTensor GetParameter (string name);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance valuetype TorchSharp.Tensor.TorchTensor GetParameter(string name) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>TorchSharp.Tensor.TorchTensor</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="name" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="name">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="HasParameter">
      <MemberSignature Language="C#" Value="public bool HasParameter (string name);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance bool HasParameter(string name) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="name" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="name">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="IsTraining">
      <MemberSignature Language="C#" Value="public bool IsTraining ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance bool IsTraining() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Linear">
      <MemberSignature Language="C#" Value="public static TorchSharp.NN.Linear Linear (long inputSize, long outputSize, bool hasBias = false);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig class TorchSharp.NN.Linear Linear(int64 inputSize, int64 outputSize, bool hasBias) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>TorchSharp.NN.Linear</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="inputSize" Type="System.Int64" />
        <Parameter Name="outputSize" Type="System.Int64" />
        <Parameter Name="hasBias" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <param name="inputSize">To be added.</param>
        <param name="outputSize">To be added.</param>
        <param name="hasBias">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="LogSoftMax">
      <MemberSignature Language="C#" Value="public static TorchSharp.NN.LogSoftMax LogSoftMax (long dimension);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig class TorchSharp.NN.LogSoftMax LogSoftMax(int64 dimension) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>TorchSharp.NN.LogSoftMax</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="dimension" Type="System.Int64" />
      </Parameters>
      <Docs>
        <param name="dimension">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="LogSoftMax">
      <MemberSignature Language="C#" Value="public static TorchSharp.Tensor.TorchTensor LogSoftMax (TorchSharp.Tensor.TorchTensor x, long dimension);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig valuetype TorchSharp.Tensor.TorchTensor LogSoftMax(valuetype TorchSharp.Tensor.TorchTensor x, int64 dimension) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>TorchSharp.Tensor.TorchTensor</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="x" Type="TorchSharp.Tensor.TorchTensor" />
        <Parameter Name="dimension" Type="System.Int64" />
      </Parameters>
      <Docs>
        <param name="x">To be added.</param>
        <param name="dimension">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="MaxPool2D">
      <MemberSignature Language="C#" Value="public static TorchSharp.NN.MaxPool2D MaxPool2D (long[] kernelSize, long[] stride = null);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig class TorchSharp.NN.MaxPool2D MaxPool2D(int64[] kernelSize, int64[] stride) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>TorchSharp.NN.MaxPool2D</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="kernelSize" Type="System.Int64[]" />
        <Parameter Name="stride" Type="System.Int64[]" />
      </Parameters>
      <Docs>
        <param name="kernelSize">To be added.</param>
        <param name="stride">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="MaxPool2D">
      <MemberSignature Language="C#" Value="public static TorchSharp.Tensor.TorchTensor MaxPool2D (TorchSharp.Tensor.TorchTensor x, long[] kernelSize, long[] stride = null);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig valuetype TorchSharp.Tensor.TorchTensor MaxPool2D(valuetype TorchSharp.Tensor.TorchTensor x, int64[] kernelSize, int64[] stride) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>TorchSharp.Tensor.TorchTensor</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="x" Type="TorchSharp.Tensor.TorchTensor" />
        <Parameter Name="kernelSize" Type="System.Int64[]" />
        <Parameter Name="stride" Type="System.Int64[]" />
      </Parameters>
      <Docs>
        <param name="x">To be added.</param>
        <param name="kernelSize">To be added.</param>
        <param name="stride">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Modules">
      <MemberSignature Language="C#" Value="protected System.Collections.Generic.List&lt;TorchSharp.NN.Module&gt; Modules { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class System.Collections.Generic.List`1&lt;class TorchSharp.NN.Module&gt; Modules" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Collections.Generic.List&lt;TorchSharp.NN.Module&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="NamedParameters">
      <MemberSignature Language="C#" Value="public virtual System.Collections.Generic.IEnumerable&lt;ValueTuple&lt;string,TorchSharp.Tensor.TorchTensor&gt;&gt; NamedParameters ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.Collections.Generic.IEnumerable`1&lt;valuetype System.ValueTuple`2&lt;string, valuetype TorchSharp.Tensor.TorchTensor&gt;&gt; NamedParameters() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Collections.Generic.IEnumerable&lt;System.ValueTuple&lt;System.String,TorchSharp.Tensor.TorchTensor&gt;&gt;</ReturnType>
        <Attributes>
          <Attribute>
            <AttributeName>System.Runtime.CompilerServices.TupleElementNames(Mono.Cecil.CustomAttributeArgument[])</AttributeName>
          </Attribute>
        </Attributes>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Parameters">
      <MemberSignature Language="C#" Value="public virtual System.Collections.Generic.IEnumerable&lt;TorchSharp.Tensor.TorchTensor&gt; Parameters ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.Collections.Generic.IEnumerable`1&lt;valuetype TorchSharp.Tensor.TorchTensor&gt; Parameters() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Collections.Generic.IEnumerable&lt;TorchSharp.Tensor.TorchTensor&gt;</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RegisterModule">
      <MemberSignature Language="C#" Value="public virtual void RegisterModule (TorchSharp.NN.Module module);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance void RegisterModule(class TorchSharp.NN.Module module) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="module" Type="TorchSharp.NN.Module" />
      </Parameters>
      <Docs>
        <param name="module">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Relu">
      <MemberSignature Language="C#" Value="public static TorchSharp.NN.ReLU Relu (bool inPlace = false);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig class TorchSharp.NN.ReLU Relu(bool inPlace) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>TorchSharp.NN.ReLU</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="inPlace" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <param name="inPlace">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Relu">
      <MemberSignature Language="C#" Value="public static TorchSharp.Tensor.TorchTensor Relu (TorchSharp.Tensor.TorchTensor x, bool inPlace = false);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig valuetype TorchSharp.Tensor.TorchTensor Relu(valuetype TorchSharp.Tensor.TorchTensor x, bool inPlace) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>TorchSharp.Tensor.TorchTensor</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="x" Type="TorchSharp.Tensor.TorchTensor" />
        <Parameter Name="inPlace" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <param name="x">To be added.</param>
        <param name="inPlace">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Sequential">
      <MemberSignature Language="C#" Value="public static TorchSharp.NN.Sequential Sequential (TorchSharp.NN.Module[] modules);" />
      <MemberSignature Language="ILAsm" Value=".method public static hidebysig class TorchSharp.NN.Sequential Sequential(class TorchSharp.NN.Module[] modules) cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>TorchSharp.NN.Sequential</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="modules" Type="TorchSharp.NN.Module[]">
          <Attributes>
            <Attribute>
              <AttributeName>System.ParamArray</AttributeName>
            </Attribute>
          </Attributes>
        </Parameter>
      </Parameters>
      <Docs>
        <param name="modules">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Train">
      <MemberSignature Language="C#" Value="public virtual void Train ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance void Train() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ZeroGrad">
      <MemberSignature Language="C#" Value="public virtual void ZeroGrad ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance void ZeroGrad() cil managed" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
