################################################################################
# TorchSharp's PR validation build
################################################################################

name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

variables: 
  MyRunNumber:  $[counter('MyRunNumber', 52201)]

resources:
  containers:
#   - container: CentosContainer
#     image: mcr.microsoft.com/dotnet-buildtools/prereqs:centos-7-mlnet-8bba86b-20190314145033
  
   - container: UbuntuContainer
     image: mcr.microsoft.com/dotnet-buildtools/prereqs:ubuntu-16.04-mlnet-20200515184230-2c829e8

jobs:
- template: /build/ci/job-template.yml
  parameters:
    name: Ubuntu_x64
    prepScript: (wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -) && sudo apt-add-repository "deb https://apt.llvm.org/xenial/ llvm-toolchain-xenial-6.0 main" && sudo apt-get -y update && sudo apt-get -y install clang-6.0 git cmake libunwind8 curl libssl1.0.0 libomp-dev
    buildScript: dotnet build /p:SkipCuda=true -c 
    testScript: dotnet test /p:SkipCuda=true -c 
    pool:
      vmImage: 'ubuntu-16.04'
    container: UbuntuContainer

# - template: /build/ci/job-template.yml
#   parameters:
#     prepScript: brew update && brew install libomp && brew install mono-libgdiplus gettext && brew link gettext --force && brew link libomp --force
#     name: MacOS_x64
#     buildScript: ./dotnet build /p:SkipCuda=true -c 
#     testScript: ./dotnet test /p:SkipCuda=true -c 
#     pool:
#       vmImage: 'macos-10.15'

- template: /build/ci/job-template.yml
  parameters:
    prepScript: echo "no prep needed"
    name: Windows_x64
    buildScript: dotnet  build  /p:SkipCuda=true -c 
    testScript: dotnet test /p:SkipCuda=true -c 
    pool:
      vmImage: 'windows-2019'

################################################################################
# {Build} --> combine --> package to build native bits on multiple OS's
################################################################################


################################################################################
- job: Linux_Native_Build_For_Package
################################################################################
  condition: and(ne(variables['system.pullrequest.isfork'], true), eq(variables['build.sourcebranchname'], 'master'))
  variables:
    BuildConfig: Release
    OfficialBuildId: $(BUILD.BUILDNUMBER)
    DOTNET_CLI_TELEMETRY_OPTOUT: 1
    DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
    DOTNET_MULTILEVEL_LOOKUP: 0
    TORCHSHARP_MAKING_PACKAGE: 1
  pool:
    vmImage: 'ubuntu-16.04'
  container: UbuntuContainer
  steps:
  - script: wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
  - script: sudo apt-add-repository "deb https://apt.llvm.org/xenial/ llvm-toolchain-xenial-6.0 main"
  - script: sudo apt-get -y update
  - script: sudo apt-get -y install clang-6.0 git cmake libunwind8 curl libssl1.0.0 libomp-dev
  - script: dotnet build -c $(BuildConfig) 
    displayName: Build

  - publish: $(Build.SourcesDirectory)/bin/obj/packprep/$(BuildConfig)
    artifact: LinuxAssets

################################################################################
- job: Windows_Native_Build_For_Package
################################################################################
  condition: and(ne(variables['system.pullrequest.isfork'], true), eq(variables['build.sourcebranchname'], 'master'))
  variables:
    BuildConfig: Release
    OfficialBuildId: $(BUILD.BUILDNUMBER)
    DOTNET_CLI_TELEMETRY_OPTOUT: 1
    DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
    DOTNET_MULTILEVEL_LOOKUP: 0
    TORCHSHARP_MAKING_PACKAGE: 1
  pool:
    vmImage: 'windows-2019'
  steps:
  - script: dotnet build -c $(BuildConfig) 
    displayName: Build Windows

  - publish: $(Build.SourcesDirectory)/bin/obj/packprep/$(BuildConfig)
    artifact: WindowsAssets

# ################################################################################
# - job: MacOS_Native_Build_For_Package
# ################################################################################
#   condition: and(ne(variables['system.pullrequest.isfork'], true), eq(variables['build.sourcebranchname'], 'master'))
#   variables:
#     BuildConfig: Release
#     OfficialBuildId: $(BUILD.BUILDNUMBER)
#     DOTNET_CLI_TELEMETRY_OPTOUT: 1
#     DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
#     DOTNET_MULTILEVEL_LOOKUP: 0
#     TORCHSHARP_MAKING_PACKAGE: 1
#   pool:
#     vmImage: 'macos-10.15'
#   steps:
#   - script: brew update && brew install libomp && brew install llvm && brew install mono-libgdiplus gettext && brew link gettext --force && brew link libomp --force && brew link llvm --force
#     displayName: Install build dependencies (macOS)
#   - script: ls -Flas /usr/local/opt/llvm/bin/
#     displayName: Debug Stuff
#   - script: dotnet build -c $(BuildConfig)
#     displayName: Build

#   - task: PublishBuildArtifacts@1
#     displayName: Publish macOS package assets
#   - publish: $(Build.SourcesDirectory)/bin/obj/$(BuildConfig)/packages
#     artifact: MacAssets


################################################################################
- job: Package
################################################################################
  condition: and(ne(variables['system.pullrequest.isfork'], true), eq(variables['build.sourcebranchname'], 'master'))
  dependsOn:
  - Linux_Native_Build_For_Package
  - Windows_Native_Build_For_Package
  # - MacOS_Native_Build_For_Package
  variables:
    BuildConfig: Release
    OfficialBuildId: $(BUILD.BUILDNUMBER)
    DOTNET_CLI_TELEMETRY_OPTOUT: 1
    DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
    DOTNET_MULTILEVEL_LOOKUP: 0
  pool:
    vmImage: 'windows-2019'
  steps:

    # Download all bits contributing to the packages from the Linux and Mac builds
  - download: current
    artifact: LinuxAssets

  - task: CopyFiles@2
    displayName: Copy linux native assets to correct folder where the bits contributing to the packages are assembled
    inputs:
      sourceFolder: $(Pipeline.Workspace)/LinuxAssets
      targetFolder: $(Build.SourcesDirectory)/bin/obj/packprep/$(BuildConfig)
  
  - script: rmdir /s /q  $(Pipeline.Workspace)\LinuxAssets
    displayName: Free up space (linux assets in workspace)

  - download: current
    artifact: WindowsAssets

  - task: CopyFiles@2
    displayName: Copy windows native assets to correct folder where the bits contributing to the packages are assembled
    inputs:
      sourceFolder: $(Pipeline.Workspace)/WindowsAssets
      targetFolder: $(Build.SourcesDirectory)/bin/obj/packprep/$(BuildConfig)
  
  - script: rmdir /s /q  $(Pipeline.Workspace)\WindowsAssets
    displayName: Free up space (windows assets in workspace)

  - script: dotnet build -c $(BuildConfig) -v:n /p:SkipNative=true
    displayName: Build Managed

  - script: dotnet pack -c $(BuildConfig) -v:n /p:SkipNative=true
    displayName: Create Packages

  # We are 10GB space-constrained on the Azure Pipelines CI system so clean up what we can 
  - script: rmdir /q /s bin\obj
    displayName: Clean up space (bin\obj)
    continueOnError: true

  - script: rmdir /q /s bin\AnyCPU.Release
    displayName: Clean up space (bin\AnyCPU.Release)
    continueOnError: true

  - script: rmdir /q /s packages
    displayName: Clean up space (packages)
    continueOnError: true

  # yup we even nuke the .git
  - script: rmdir /q /s .git
    displayName: Clean up space (.git)
    continueOnError: true

  - task: CopyFiles@2
    displayName: Copy packaged assets to staging folder
    inputs:
      sourceFolder: $(Build.SourcesDirectory)/bin/packages/$(BuildConfig)
      targetFolder: $(Build.ArtifactStagingDirectory)
 
  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: '$(Build.ArtifactStagingDirectory)'
      artifactName: packages
  
  #########################################################
  # push the TorchSharp feed
  #
  # Doing these one by one as we're getting a lot of failures pushing them
  # Also replaying them multiple times for the same reason
  #
  - task: NuGetAuthenticate@0
    displayName: 'NuGet Authenticate'

  - task: NuGetCommand@2
    displayName: 'NuGet push (TorchSharp)'
    inputs:
      command: push
      packagesToPush:  '$(Build.ArtifactStagingDirectory)/**/TorchSharp*.nupkg'
      publishVstsFeed: 'TorchSharp/packages2'
      allowPackageConflicts: true
    continueOnError: true

  # push the CPU runtime packages
  - task: NuGetCommand@2
    displayName: 'NuGet push (libtorch-cpu)'
    inputs:
      command: push
      packagesToPush:  '$(Build.ArtifactStagingDirectory)/**/libtorch-cpu*.nupkg'
      publishVstsFeed: 'TorchSharp/packages2'
      allowPackageConflicts: true
    continueOnError: true

  # push the CPU runtime packages (retry - we get so many failures!)
  - task: NuGetCommand@2
    displayName: 'NuGet push (libtorch-cpu - retry)'
    inputs:
      command: push
      packagesToPush:  '$(Build.ArtifactStagingDirectory)/**/libtorch-cpu*.nupkg'
      publishVstsFeed: 'TorchSharp/packages2'
      allowPackageConflicts: true
    continueOnError: true

  # push the CPU runtime packages (retry - we get so many failures!)
  - task: NuGetCommand@2
    displayName: 'NuGet push (libtorch-cpu - retry)'
    inputs:
      command: push
      packagesToPush:  '$(Build.ArtifactStagingDirectory)/**/libtorch-cpu*.nupkg'
      publishVstsFeed: 'TorchSharp/packages2'
      allowPackageConflicts: true
    continueOnError: true

  # push the CPU runtime packages (retry - we get so many failures!)
  - task: NuGetCommand@2
    displayName: 'NuGet push (libtorch-cpu - retry)'
    inputs:
      command: push
      packagesToPush:  '$(Build.ArtifactStagingDirectory)/**/libtorch-cpu*.nupkg'
      publishVstsFeed: 'TorchSharp/packages2'
      allowPackageConflicts: true
    continueOnError: true

  # push the CPU runtime packages (retry - we get so many failures!)
  - task: NuGetCommand@2
    displayName: 'NuGet push (libtorch-cpu - retry)'
    inputs:
      command: push
      packagesToPush:  '$(Build.ArtifactStagingDirectory)/**/libtorch-cpu*.nupkg'
      publishVstsFeed: 'TorchSharp/packages2'
      allowPackageConflicts: true
    continueOnError: true

  # push the Windows Cuda packages as they are useful even if pushing the huge and messy Linux cuda packages fails
  - task: NuGetCommand@2
    displayName: 'NuGet push (cuda win-x64)'
    inputs:
      command: push
      packagesToPush:  '$(Build.ArtifactStagingDirectory)/**/*cuda*win-x64*.nupkg'
      publishVstsFeed: 'TorchSharp/packages2'
      allowPackageConflicts: true
      # often fails - try but ignore the error until we sort it out
    continueOnError: true

  # push the Windows Cuda packages as they are useful even if pushing the huge and messy Linux cuda packages fails
  - task: NuGetCommand@2
    displayName: 'NuGet push (cuda win-x64 retry)'
    inputs:
      command: push
      packagesToPush:  '$(Build.ArtifactStagingDirectory)/**/*cuda*win-x64*.nupkg'
      publishVstsFeed: 'TorchSharp/packages2'
      allowPackageConflicts: true
      # often fails - try but ignore the error until we sort it out
    continueOnError: true

  # push the Windows Cuda packages as they are useful even if pushing the huge and messy Linux cuda packages fails
  - task: NuGetCommand@2
    displayName: 'NuGet push (cuda win-x64 retry)'
    inputs:
      command: push
      packagesToPush:  '$(Build.ArtifactStagingDirectory)/**/*cuda*win-x64*.nupkg'
      publishVstsFeed: 'TorchSharp/packages2'
      allowPackageConflicts: true
      # often fails - try but ignore the error until we sort it out
    continueOnError: true

  # push the Windows Cuda packages as they are useful even if pushing the huge and messy Linux cuda packages fails
  - task: NuGetCommand@2
    displayName: 'NuGet push (cuda win-x64 retry)'
    inputs:
      command: push
      packagesToPush:  '$(Build.ArtifactStagingDirectory)/**/*cuda*win-x64*.nupkg'
      publishVstsFeed: 'TorchSharp/packages2'
      allowPackageConflicts: true
      # often fails - try but ignore the error until we sort it out
    continueOnError: true

  # push the Windows Cuda packages as they are useful even if pushing the huge and messy Linux cuda packages fails
  - task: NuGetCommand@2
    displayName: 'NuGet push (cuda win-x64 retry)'
    inputs:
      command: push
      packagesToPush:  '$(Build.ArtifactStagingDirectory)/**/*cuda*win-x64*.nupkg'
      publishVstsFeed: 'TorchSharp/packages2'
      allowPackageConflicts: true
      # often fails - try but ignore the error until we sort it out
    continueOnError: true

  # push the Linux Cuda packages 
  - task: NuGetCommand@2
    displayName: 'NuGet push (cuda linux-x64)'
    inputs:
      command: push
      packagesToPush:  '$(Build.ArtifactStagingDirectory)/**/*cuda*linux-x64*.nupkg'
      publishVstsFeed: 'TorchSharp/packages2'
      allowPackageConflicts: true
      # often fails - try but ignore the error until we sort it out
    continueOnError: true

  # push the Linux Cuda packages 
  - task: NuGetCommand@2
    displayName: 'NuGet push (cuda linux-x64)'
    inputs:
      command: push
      packagesToPush:  '$(Build.ArtifactStagingDirectory)/**/*cuda*linux-x64*.nupkg'
      publishVstsFeed: 'TorchSharp/packages2'
      allowPackageConflicts: true
      # often fails - try but ignore the error until we sort it out
    continueOnError: true

  # push the Linux Cuda packages 
  - task: NuGetCommand@2
    displayName: 'NuGet push (cuda linux-x64)'
    inputs:
      command: push
      packagesToPush:  '$(Build.ArtifactStagingDirectory)/**/*cuda*linux-x64*.nupkg'
      publishVstsFeed: 'TorchSharp/packages2'
      allowPackageConflicts: true
      # often fails - try but ignore the error until we sort it out
    continueOnError: true

  # push the Linux Cuda packages 
  - task: NuGetCommand@2
    displayName: 'NuGet push (cuda linux-x64)'
    inputs:
      command: push
      packagesToPush:  '$(Build.ArtifactStagingDirectory)/**/*cuda*linux-x64*.nupkg'
      publishVstsFeed: 'TorchSharp/packages2'
      allowPackageConflicts: true
      # often fails - try but ignore the error until we sort it out
    continueOnError: true

  # push the Linux Cuda packages 
  - task: NuGetCommand@2
    displayName: 'NuGet push (cuda linux-x64)'
    inputs:
      command: push
      packagesToPush:  '$(Build.ArtifactStagingDirectory)/**/*cuda*linux-x64*.nupkg'
      publishVstsFeed: 'TorchSharp/packages2'
      allowPackageConflicts: true
      # often fails - try but ignore the error until we sort it out
    continueOnError: true

  # push the Linux Cuda packages 
  - task: NuGetCommand@2
    displayName: 'NuGet push (cuda linux-x64)'
    inputs:
      command: push
      packagesToPush:  '$(Build.ArtifactStagingDirectory)/**/*cuda*linux-x64*.nupkg'
      publishVstsFeed: 'TorchSharp/packages2'
      allowPackageConflicts: true
      # often fails - try but ignore the error until we sort it out
    continueOnError: true

  # push the Linux Cuda packages 
  - task: NuGetCommand@2
    displayName: 'NuGet push (cuda linux-x64)'
    inputs:
      command: push
      packagesToPush:  '$(Build.ArtifactStagingDirectory)/**/*cuda*linux-x64*.nupkg'
      publishVstsFeed: 'TorchSharp/packages2'
      allowPackageConflicts: true
      # often fails - try but ignore the error until we sort it out
    continueOnError: true

  # push the Linux Cuda packages 
  - task: NuGetCommand@2
    displayName: 'NuGet push (cuda linux-x64)'
    inputs:
      command: push
      packagesToPush:  '$(Build.ArtifactStagingDirectory)/**/*cuda*linux-x64*.nupkg'
      publishVstsFeed: 'TorchSharp/packages2'
      allowPackageConflicts: true
      # often fails - try but ignore the error until we sort it out
    continueOnError: true

  # push the Linux Cuda packages 
  - task: NuGetCommand@2
    displayName: 'NuGet push (cuda linux-x64)'
    inputs:
      command: push
      packagesToPush:  '$(Build.ArtifactStagingDirectory)/**/*cuda*linux-x64*.nupkg'
      publishVstsFeed: 'TorchSharp/packages2'
      allowPackageConflicts: true
      # often fails - try but ignore the error until we sort it out
    continueOnError: true


  # Terminate all dotnet build processes.
  - script: dotnet build-server shutdown
    displayName: Dotnet Server Shutdown

