<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--> This is need to fetch the System.Numerics.Tensor Nuget <!-->
    <add key="corefx" value="https://dotnet.myget.org/F/dotnet-corefxlab/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>